.intro {

    height: calc(100vh - 100px);
    background: linear-gradient(180deg, #0c0c1d, #111132);
    display: flex;
    justify-content: flex-end;
    /* Centers the image container horizontally */
    align-items: center;
    
    
    // position: absolute;

    .wrapper {
        // width: 60%;
        height: 100%;
        margin: auto;
        // margin-left: 255px;

        max-width: 60%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;


        .textContainer {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 40px;

            h2 {
                z-index: 998;
                font-size: 40px;
                color: rebeccapurple;
                letter-spacing: 10px;
                transition: font-size 0.3s ease;
                /* Smooth transition for font size */

                &:hover {
                    font-size: 50px;
                    /* The font size you want on hover */
                }
            }

            h1 {
                font-size: 88px;
                transition: font-size 0.3s ease;
                /* Smooth transition for font size */

                &:hover {
                    font-size: 100px;
                    /* The font size you want on hover */
                }
            }



            .buttons {
                button {
                    padding: 20px;
                    border: 1px solid white;
                    border-radius: 10px;
                    background-color: transparent;
                    color: white;
                    margin-right: 20px;
                    cursor: pointer;


                }

                .two {
                    background-color: white;
                    color: black;
                }
            }
        }
    }

    .imagecontainer {
        width: 35%;
        /* Set a fixed width or use a percentage */
        height: 100%;
        /* Set a fixed height or use a percentage */
        overflow: hidden;
        /* Ensures any overflow content is hidden */
        display: flex;
        /* Centers the image inside the container */
        justify-content: center;
        align-items: end;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 50%;

         
        }

    }

    .slidingTextContainer{
        position:absolute;
        font-size: 50vh;
        white-space: nowrap;
        color:#ffffff21;
        bottom:-65px;
        font-weight: bold;
        width:100%;
        z-index: 1;
    }


}