*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "DM SANS", sans-serif;
}

html{
    // scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

body{
    background-color: #0c0c1d;
    color:lightgray;
}

a{
    text-decoration: none;
    color: inherit;
}

section{
    // scroll-snap-align:center;
   
    height: 100vh;

    background: linear-gradient(180deg, #0c0c1d, #111132);
    width: 100%;

    
}

#heightlarger{
    height: 200vh;
}







